p {
    font-size: 20px;
    font-weight: bold;
    em {
        background: yellow;
        padding: 5px;
        
    }
}

.good {
 background-color: white;
}

.few {
 background-color: red;
}

.lot {
    background-color: green;
}

.taskBlock {
   
    width: 40px;
    display: block;
    
    font-size: 20px;
}